.stock-form {
  background-color: #fdfdfd;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #bbb;
  margin-top: 1rem;
}

.stock-form-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem 0;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 0 4rem;
  }
}

.stock-list {
  display: flex;
  justify-content: center; 
  min-width: 6rem;
}

.stock-list-items {
    text-align: left;

    & .items-row {
      display: flex;
      flex-direction: row;
      align-items: center;

      & div:has(> svg) {
        padding-top: 0.4rem;
        padding-right: 0.25rem;

        & > svg {
          cursor: pointer;
          fill: #ff6868
        }
      }
    }
  }

.form-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}