header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #555;
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}

header .title {
  font-size: 3rem;
  font-weight: 600;
  color: #eee;
}