header { 
  display: flex;
  justify-content: center;
  background-color: #555;
  width: 100%;
  border-radius: 1rem;
  
}

header .title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: #a5fc9d;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    line-height: 3rem;
    font-size: 3rem;
  }
}