.time-window {
  text-align: center;

  & .time-title {
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  & select {
    background-color: #fff;
    color: #1a1a1a;
    border: 1px solid #bbb;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;

    &:hover {
      background-color: #eee;
    }
  }

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}